#app{
  height:90vh;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

main {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.day {
    background-color: #ffffff;
    color: #333333;
}

.night {
    background-color: #333333;
    color: #ffffff;
}

.button_day, .button_night {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.button_day:hover, .button_night:hover {
    background-color: #0056b3;
}
